Repository patrickedqvist/SurfShop.Web: changes, and which lefthook commands are due for each by the changed paths.
All: js-lint, ts-lint, style-lint, format

lefthook.yml:

pre-commit:
  commands:
    js-lint:
        glob: "*.{js,jsx}"
        run: yarn eslint --fix {staged_files}
    ts-lint:
        glob: "*.{ts,tsx}"
        run: yarn eslint --fix {staged_files}
    style-lint:
        glob: "*.{scss}"
        run: yarn stylelint --fix {staged_files}
    format:
        glob: "*.{js,jsx,ts,tsx,scss}"
        run: yarn prettier --write {staged_files}
    packages-audit:
      run: yarn audit

Run lefthook commands parallel
  lefthook.yml
Due: none

added akkurat font
  packages/client/components/ProductAttributes/product-attributes.scss
  packages/client/styles/fonts.scss
  packages/client/styles/global.scss
  packages/client/styles/pages/product-page.scss
  packages/client/styles/theme.scss
Due: format

formatted files
  lefthook.yml
  packages/client/components/ProductAttributes/product-attributes.scss
  packages/client/styles/fonts.scss
  packages/client/styles/global.scss
  packages/client/styles/pages/product-page.scss
  packages/client/styles/theme.scss
Due: format

remove custom typings for contentful management
  packages/server/src/controllers/products.ts
  packages/server/src/types/npm/contentful-management.d.ts
  packages/server/tsconfig.json
Due: ts-lint, format

Add nodejs action
  .github/workflows/nodejs.yml
Due: none

Update nodejs.yml
  .github/workflows/nodejs.yml
Due: none

update controllers
  packages/server/src/controllers/cart.ts
  packages/server/src/controllers/checkout.ts
  packages/server/src/controllers/pages.ts
  packages/server/src/controllers/products.ts
  packages/server/src/routes.ts
  packages/server/src/types/cart.ts
  packages/server/src/utils/cart-utilities.ts
  packages/server/tsconfig.json
Due: ts-lint, format

Fix session and cart
  packages/client/pages/product/[slug].tsx
  packages/client/redux/actions/cart.ts
  packages/client/redux/api.ts
  packages/client/redux/reducers/cart.ts
  packages/client/redux/sagas/cart.ts
  packages/client/redux/sagas/index.ts
  packages/client/redux/sagas/pages.ts
  packages/client/redux/sagas/products.ts
  packages/server/src/controllers/cart.ts
  packages/server/src/index.ts
  packages/server/src/types/cart.ts
  packages/server/src/utils/cart-utilities.ts
Due: ts-lint, format

Add basic cart
  lefthook.yml
  packages/client/components/Cart/CartItem.tsx
  packages/client/components/Cart/cart-item.scss
  packages/client/components/Cart/cart.scss
  packages/client/components/Cart/index.tsx
  packages/client/components/Drawer/drawer.scss
  packages/client/components/Drawer/index.tsx
  packages/client/components/Header/MiniCart.tsx
  packages/client/components/Header/header.scss
  packages/client/components/PageLayout/index.tsx
  packages/client/components/Portal.tsx
  packages/client/package.json
  packages/client/pages/_document.tsx
  packages/client/pages/category/[slug].tsx
  packages/client/redux/actions/viewstate.ts
  packages/client/redux/reducers/viewstate.ts
  packages/client/typeDefs/cart.ts
  packages/client/typeDefs/viewstate.ts
  yarn.lock
Due: ts-lint, format

Update prettier config
  .prettierrc.yaml
Due: none

Format all files
  lefthook.yml
  packages/client/components/BottomBar/index.tsx
  packages/client/components/BuyButton/index.tsx
  packages/client/components/Cart/index.tsx
  packages/client/components/Drawer/index.tsx
  packages/client/components/Footer/index.tsx
  packages/client/components/Head.tsx
  packages/client/components/Header/MainNavigation.tsx
  packages/client/components/Header/MiniCart.tsx
  packages/client/components/Hero/index.tsx
  packages/client/components/ImageGallery/index.tsx
  packages/client/components/ImageGallery/swiper.scss
  packages/client/components/Portal.tsx
  packages/client/components/ProductAttributes/colors.tsx
  packages/client/components/ProductAttributes/sizes.tsx
  packages/client/components/ProductCard/index.tsx
  packages/client/components/Widget/index.tsx
  packages/client/next.config.js
  packages/client/pages/_app.tsx
  packages/client/pages/index.tsx
  packages/client/postcss.config.js
  packages/client/redux/actions/cart.ts
  packages/client/redux/actions/pages.ts
  packages/client/redux/actions/products.ts
  packages/client/redux/actions/viewstate.ts
  packages/client/redux/reducers/cart.ts
  packages/client/redux/reducers/pages.ts
  packages/client/redux/sagas/index.ts
  packages/client/redux/store.ts
  packages/client/utils/normalize.ts
  packages/client/utils/prices.ts
  packages/client/utils/server-side.ts
  packages/server/src/controllers/cart.ts
  packages/server/src/controllers/checkout.ts
  packages/server/src/routes.ts
  packages/server/src/services/contentful.ts
  packages/server/src/services/klarna.ts
  packages/server/src/utils/cart-utilities.ts
Due: js-lint, ts-lint, format

Started on search
  .eslintrc.yml
  lefthook.yml
  package.json
  packages/client/components/BottomBar/index.tsx
  packages/client/components/BuyButton/index.tsx
  packages/client/components/Head.tsx
  packages/client/components/Header/HeaderSearch.tsx
  packages/client/components/Header/header.scss
  packages/client/components/Header/index.tsx
  packages/client/components/Hero/index.tsx
  packages/client/components/ImageGallery/index.tsx
  packages/client/components/InternalLink.tsx
  packages/client/components/PageHeader/index.tsx
  packages/client/components/ProductCard/index.tsx
  packages/client/components/ProductList/index.tsx
  packages/client/components/Widget/index.tsx
  packages/client/package.json
  packages/client/pages/category/[slug].tsx
  packages/client/pages/page/[slug].tsx
  packages/client/pages/product/[slug].tsx
  packages/client/pages/search.tsx
  packages/client/redux/actions/search.ts
  packages/client/redux/definitions.ts
  packages/client/redux/reducers/index.ts
  packages/client/redux/reducers/search.ts
  packages/client/redux/sagas/index.ts
  packages/client/redux/sagas/search.ts
  packages/client/tsconfig.json
  packages/client/typeDefs/store.ts
  packages/server/package.json
  packages/server/src/controllers/cart.ts
  packages/server/src/controllers/search.ts
  packages/server/src/routes.ts
  packages/server/src/services/lunr.ts
  packages/server/tsconfig.json
  yarn.lock
Due: ts-lint, format

Add search
  packages/client/components/Header/HeaderSearch.tsx
  packages/client/components/Header/header-search.scss
  packages/client/components/Header/header.scss
  packages/client/components/Header/index.tsx
  packages/client/components/ProductCard/GridItem.tsx
  packages/client/components/ProductCard/ListItem.tsx
  packages/client/components/ProductCard/index.tsx
  packages/client/components/ProductCard/product-card.scss
  packages/client/components/ProductList/index.tsx
  packages/client/components/ProductList/product-list.scss
  packages/client/pages/search.tsx
  packages/client/redux/reducers/search.ts
  packages/client/typeDefs/store.ts
  packages/server/src/controllers/search.ts
  packages/server/src/services/lunr.ts
Due: ts-lint, format

Add search
  packages/client/redux/reducers/search.ts
  packages/server/src/controllers/search.ts
Due: ts-lint, format

Delete nodejs.yml
  .github/workflows/nodejs.yml
Due: none

Update cart functionality
  packages/client/components/Cart/CartItem.tsx
  packages/client/components/Cart/cart-item.scss
  packages/client/components/Cart/cart.scss
  packages/client/components/Cart/index.tsx
  packages/client/components/Drawer/drawer.scss
  packages/client/components/Header/HeaderSearch.tsx
  packages/client/components/Header/header-search.scss
  packages/client/components/Header/header.scss
  packages/client/components/Header/index.tsx
  packages/client/components/Icons/Arrows.tsx
  packages/client/components/Widget/widget.scss
  packages/client/redux/actions/search.ts
  packages/client/redux/definitions.ts
  packages/client/redux/reducers/search.ts
  packages/client/redux/sagas/cart.ts
  packages/client/redux/sagas/index.ts
  packages/client/typeDefs/cart.ts
  packages/client/typeDefs/search.ts
  packages/client/typeDefs/store.ts
  packages/server/src/controllers/cart.ts
  packages/server/src/types/cart.ts
Due: ts-lint, format

Update and refactor
  .eslintrc.yml
  .prettierrc.yaml
  package.json
  packages/client/components/Cart/CartItem.tsx
  packages/client/components/Cart/index.tsx
  packages/client/package.json
  packages/client/pages/page/[slug].tsx
  packages/server/package.json
  packages/server/src/controllers/cart.ts
  yarn.lock
Due: ts-lint, format

update prettier
  .prettierrc.yaml
Due: none
